/* * {
  border: 1px solid grey;
} */

body {
  font-family: monospace;
  font-size: 16px;
  background-color: mintcream;
}

input {
  background: #bada55;
  padding: 5;
  width: 30%;
  margin-top: 2;
  margin-bottom: 2;
}

input[type=button] {
  margin-top: 10;
  margin-bottom: 20;
}

input[type=text] {
  float: right;
  width: 70%;
  font-size: 14px;
}

.searchBoxes {
  width: 50%
}

.main-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px;
}

.gitbox {
  margin: 20px;
  box-shadow: 2px 2px rgba(165, 165, 165, .4);
  width: 90%;
  padding: 30px;
  background-color: honeydew; 
}