* {
  border: 1px solid grey;
}

input {
  background: #bada55
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px;
}

.gitbox {
  width: 90%;
  padding: 30px;
}