
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: white;
  text-align: left;
  text-decoration: none;
  margin: 0 !important;
}

button {
  background-color: white;
  font-family: inherit;
  margin: 5px;
  font-size:14px;
  text-align: center;
  border-radius: 0 !important;
  text-decoration: none;
  border: 1px solid rgb(44, 3, 101);
}

center {
  text-decoration: none;
}

p {
  color: white;
  text-align: left;
}

h2 {
  color: white;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: left;
}

.title * {
  font-size: 46px;
  margin: 20 0 10 0;
  text-shadow: 2px 2px lightgray;
  color: #5600CD;
  font-family: inherit;
}

.body-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  top: 0;
  z-index: 100;
}

#content {
  width: 100%;
  height: 100%;
  min-width: 800px !important;
}

.main-container {
  padding: 0px 100px;
  min-width: 800px !important;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: rgb(44, 3, 101);
 }

#top-wrapper {
  width: 100%;
  display: flex;
  align-items: flex;
  justify-content: center;
}

/* NAV BAR */

.navigation-bar {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 215px;
  background-color: #5600CD;
  color: white;
  overflow: hidden;
}

#img-logo {
  height: 215px;
  margin: auto auto;
}

.navigation-bar a {
  color: white;
  font-size: 16px;
  letter-spacing: 4px;
  text-decoration: none;
}

.navigation-bar a:hover {
  color: rgb(212, 182, 255);
}

#nav-bar-links {
  height: 100%;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bar-link {
  padding: 35 15;
}

.dropdown-wrapper {
  overflow: hidden;
  letter-spacing: 4px;
  padding: 30 15;
}

.dropdown-wrapper:hover {
  color: rgb(212, 182, 255);
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5600CD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translate(-25%, 0%);
  padding-top: 10px;
}

.dropdown-item a, .dropdown-item {
  color: #5600CD;
}

.dropdown-content-wrapper {
  background-color: white;
}

.dropdown-content-wrapper div {
  padding: 15px;
}

.dropdown-content-wrapper div:hover {
  background-color: rgb(212, 182, 255);
}

.dropdown-wrapper:hover .dropdown-content {
  display: block;
}

#git-logo:hover #git-logo-svg {
  fill: rgb(212, 182, 255);
}

#npm-logo {
  margin-right: 20px;
}

#npm-logo:hover #npm-logo-svg {
  fill: rgb(212, 182, 255);
}

/* MODAL */

.backdrop {
  position: relative;
  min-height: 25%;
  max-height: 80%;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  top: -300;
  padding: 50;
  overflow: auto;
}

.flex-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  float: center;
  text-align: center;
  position: relative;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(44, 3, 101);
  max-width: 100%;
  max-height: 80%;
  min-height: 300;
  overflow: auto;
  font-size: 18px;
  z-index: 1010;
  padding: 20px;
  font-family: "Open Sans" sans-serif;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* DOCUMENTATION */

#docs-wrapper {
  width: 100%;
  height: 100%;
  background-color: #5600CD;
}

.flex-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  float: center;
  text-align: center;
  position: relative;
}

.doc-container {
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
  color: #5600CD;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: italic;
  font-weight: bold;
  font-family: "Open Sans" sans-serif;
  display: flex;
  align-items: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  line-height: 2;
  width: 30%;
  height: 75px;
  margin: 10px;
}

.doc-container:hover {
  background: rgb(212, 182, 255);
}

/* FORM */

#form-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#form-wrapper h2 {
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(44, 3, 101);
}

#form-button-box {
  display: flex;
}

#form-wrapper button {
  width: 40%;
  background: #5600CD;
  color: white;
  padding: 5px;
  margin: 5px auto 0 auto;
}

input {
  background: rgb(212, 182, 255);
  padding: 5;
  width: 30%;
  margin-top: 2;
  margin-bottom: 2;
}

input.searchOptions {
  width: 5%;
}

input[type=text] {
  float: right;
  width: 70%;
  font-size: 14px;
}

.searchBoxes {
  line-height: 2;
}

.result-list {
  width: 100%;
}

#top-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: flex;
  justify-content: center;
}

#top-right-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

fieldset {
  margin-bottom: 5px;
  line-height: 1.4;
  background-color: rgb(212, 182, 255)); 
  border-style: ridge;
  box-shadow: 2px 2px rgba(165, 165, 165, .4);
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

/* TIMER STYLING */

#timer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timerF {
  margin: 10px;
  width: 60%;
  background-color:#5600CD;
  color: white;
  box-shadow: 2px 2px rgba(165, 165, 165, .4);
}

.flashF {
  background-color:lime;
  -webkit-transition: background-color 100ms ease-out;
  -moz-transition: background-color 100ms ease-out;
  -o-transition: background-color 100ms ease-out;
  transition: background-color 100ms ease-out;
}

.timerA {
  margin: 10px;
  width: 60%;
  background-color: #5600CD;
  color: white;
  box-shadow: 2px 2px rgba(165, 165, 165, .4);
}

.flashA {
  background-color:red;
  -webkit-transition: background-color 100ms ease-out;
  -moz-transition: background-color 100ms ease-out;
  -o-transition: background-color 100ms ease-out;
  transition: background-color 100ms ease-out;
}

.timer-text, .clock {
  padding: 5px;
}

.clock {
  font-size: 24px;
}

.timerF h3, .timerA h3 {
  background-color: rgb(44, 3, 101);
  text-transform: uppercase;
  padding: 6px;
  margin: 0 0 5 0;
  font-weight: 600;
}

/* RESULT LIST */

.result-list {
  width: 100%;
  height: 100%;
}

.result-item {
  width: 90%;
  margin: 20px 0px;
  box-shadow: 2px 2px rgba(165, 165, 165, .4);
  background-color: rgb(242, 237, 252);
}

.search-title h3 {
  margin-bottom: 5px;
  padding-left: 7px;
  background-color: rgb(212, 182, 255);
}

.result-item-field {
  padding: 0 0 5 7;
}

/* LANDING PAGE */

.landing-container {
  min-width: 800px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: #5600CD;
  justify-content: left;
  align-items: left;
  text-decoration: none;
}

#landing-content {
  width: 90%;
  margin: 0 auto;
}

#landing-content h2 {
  margin-top: 0;
}

.landing-link {
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
  color: #5600CD;
  border: 3px white;
  min-width: 100px;
  margin: 10px 20px;
  background: white;
}

.landing-link a {
  font-family: inherit;
  text-decoration: none;
}

.landing-link:hover {
  background: rgb(224, 200, 255);
}

@keyframes colorLink {
  0% { background-color: rgb(49, 9, 128); }
  50% { background-color: rgb(98, 66, 161); }
	100% { background-color: rgb(49, 9, 128); }
}

@keyframes colorNav {
  0% { background-color: rgb(198, 182, 229); }
  50% { background-color: rgb(222, 209, 248); }
	100% { background-color: rgb(198, 182, 229); }
}

.landing-link-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: left;
  justify-content: left;
  text-decoration: none;
}

.landing-link-wrapper a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: italic;
  font-weight: bold;
  font-family: "Open Sans" sans-serif;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}