@import "variables";

body {
	background-color: $iceBlue;
	font-family: $codeSmithFont;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  margin: 0;
  color: $white;
}

button {
  background-color: white;
  font-family: inherit;
  margin: 5px;
  font-size:14px;
  text-align: center;
  border-radius: 0 !important;
  text-decoration: none;
  border: 1px solid rgb(44, 3, 101);
}
center {
  text-decoration: none;
}

p {
  color: white;
  text-align: left;
}

h2 {
  color: white;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: left;
}

.title * {
  font-size: 46px;
  margin: 20 0 10 0;
  text-shadow: 2px 2px lightgray;
  color: #5600CD;
  font-family: inherit;
}

.body-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  top: 0;
  z-index: 100;
}

#content {
  width: 100%;
  height: 100%;
  min-width: 800px !important;
}

.main-container {
  padding: 0px 100px;
  min-width: 800px !important;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: rgb(44, 3, 101);
 }

#top-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: flex;
  justify-content: center;
}

#top-right-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

//Navigation Bar: 

.navigation-bar {
  text-transform: uppercase;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  overflow: hidden;
  background-color: lighten($cerulean, 10%);
  color: $white;  
  text-decoration: none;
  &:hover{
    color: lighten($apricot, 10%);
  }
  font-size: 12px;
  a{
    color: $white;
    font-size: 12px;
    letter-spacing: 4px;
    text-decoration: none;
  &:hover{
    color: lighten($apricot, 10%);
  }
  }
}

#img-logo {
  height: 215px;
  margin: auto auto;
}

#nav-bar-links {
  height: 100%;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.nav-bar-link {
  padding: 35 15;
}

.dropdown-wrapper {
  overflow: hidden;
  letter-spacing: 4px;
  padding: 30 15;
}

.dropdown-wrapper:hover {
  color: rgb(212, 182, 255);
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5600CD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translate(-25%, 0%);
  padding-top: 10px;
}

.dropdown-item a, .dropdown-item {
  color: #5600CD;
}

.dropdown-content-wrapper {
  background-color: white;
}

.dropdown-content-wrapper div {
  padding: 15px;
}

.dropdown-content-wrapper div:hover {
  background-color: rgb(212, 182, 255);
}

.dropdown-wrapper:hover .dropdown-content {
  display: block;
}

#git-logo:hover #git-logo-svg {
  fill: rgb(212, 182, 255);
}

#npm-logo {
  margin-right: 20px;
}

#npm-logo:hover #npm-logo-svg {
  fill: rgb(212, 182, 255);
}


//Result List: 

.main-container {
  padding: 0px 100px;
  min-width: 800px !important;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $iceBlue;
  .result-list{
    width: 100%;
    height: 100%;
    background-color: $iceBlue;
    padding: 20px; 
    
  }
  .result-item {
    width: 90%;
    margin: 20px 0px;
    background-color: darken($greysilver, 5%);
    box-shadow: 5px 5px 18px darken($greysilver, 5%);
    }
    .result-item-field{
      padding-left: 7px;
      background-color: lighten($skyBlue, 5%);
      color: $white;
      padding: 3px 10px;
    }
  .search-title {
	  h3 {
      margin-bottom: 5px;
      padding-left: 7px;
		  background-color: lighten($cerulean, 10%);
      color: $white;
      text-transform: capitalize;
      font-weight: 100;
      font-size: 18px;
      padding: 10px 10px;

    }
  }
}

.search-item-field {
  padding: 3px 10px;
}

//Apollo timer box:

#timer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timerA {
  width: 50%;
  margin: 10px;
  background-color: lighten($skyBlue, 5%);
  color: $white;
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;
  box-shadow: 5px 10px 18px darken($greysilver, 5%);
  h3{
    background-color: lighten($cerulean, 10%);
    font-weight: 50;
    font-size: 18px;
    font-family: $codeSmithFont;
    text-transform: uppercase;
    padding: 6px;
    margin: 0 0 5 0;
    font-weight: 100;
  }
  .clock{
    font-size: 18px;
    text-transform: lowercase
  }
}

.timer-text, .clock {
  padding: 5px;
}

.flashA {
  background-color: lighten($apricot, 10%);
  -webkit-transition: background-color 100ms ease-out;
  -moz-transition: background-color 100ms ease-out;
  -o-transition: background-color 100ms ease-out;
  transition: background-color 100ms ease-out;
}

.timerF h3, .timerA h3 {
  background-color: rgb(44, 3, 101);
  text-transform: uppercase;
  padding: 6px;
  margin: 0 0 5 0;
  font-weight: 600;
}

//Flache timer box:

.timerF{
  width: 50%;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lighten($skyBlue, 5%);
  color: $white;
  text-transform: capitalize;  
  font-size: 18px;
  text-align: center;
  box-shadow: 5px 10px 18px darken($greysilver, 5%);
  h3{
    background-color: lighten($cerulean, 10%);
    font-weight: 50;
    font-size: 18px;
    font-family: $codeSmithFont;
    text-transform: uppercase;
    padding: 6px;
    margin: 0 0 5 0;
    font-weight: 100;
  }
  .clock{
    font-size: 18px;
    text-transform: lowercase
  }
}
  .flashF{
    background-color: lighten($apricot, 10%);
    -webkit-transition: background-color 100ms ease-out;
    -moz-transition: background-color 100ms ease-out;
    -o-transition: background-color 100ms ease-out;
    transition: background-color 100ms ease-out;
  }

//Yelp Demo Page Styling: 

.fieldset {
  margin-bottom: 5px;
  line-height: 1.4;
  background-color: $grey;
  border-style: ridge;
  box-shadow: 5px 10px 18px darken($greysilver, 5%);
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

.top-wrapper {
  background-color: $morningSky
}


.searchBoxes {
  line-height: 2;
  input{
    background-color: $greysilver;
    border-color: $skyBlue;
    padding: 5;
    width: 30%;
    margin-top: 2;
    margin-bottom: 2;
  }
  label{
    font-size: 18px;
    color: $cerulean;
  }
}
input.searchOptions {
  width: 5%;
}

input[type=text] {
  float: right;
  width: 70%;
  font-size: 14px;
}
.result-list {
  width: 100%;
}

fieldset {
  background-color: $greysilver;
  border-color: $skyBlue;
  border-radius: 3px;
  font-size: 18px;
  color: $cerulean
}
.fieldset-wrapper{
  display: flex;
  flex-direction: column;
  background-color: $greysilver;
  border-color: $skyBlue;
}

//Popup box: 

.backdrop {
  position: relative;
  min-height: 25%;
  max-height: 80%;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  top: -300;
  padding: 50;
  overflow: auto;
}

.flex-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  float: center;
  text-align: center;
  position: relative;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border: 4px solid $greysilver;
  max-width: 100%;
  max-height: 80%;
  min-height: 300;
  min-width: 50%;
  overflow: auto;
  font-size: 18px;
  color: $cerulean;
  z-index: 1010;
  padding: 20px;
  font-family: "Open Sans" sans-serif;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
   -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
       animation: fadein 1s;
  h1{
    color: $cerulean
  }
  button{
    color: $cerulean;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.description p {
  color: $cerulean
}

//Form:

#form-wrapper button{
  width: 30%;
  justify-content: center;
  background: $skyBlue;
  border-radius: 25px;
  border: none;
  padding: 5px;
  margin: 5px auto, 0 auto;
  box-shadow: 5px 10px 18px darken($greysilver, 5%)
}

#form-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#form-wrapper h2 {
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(44, 3, 101);
}

#form-button-box {
  display: flex;
}


//Documentation Page: 

#docs-wrapper {
  width: 100%;
  height: 100%;
  background-color: $iceBlue;
}

.doc-container {
  background-color: darken($greysilver, 5%);
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
  color: $cerulean;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: bold;
  font-family: "Open Sans" sans-serif;
  display: flex;
  align-items: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  line-height: 2;
  width: 30%;
  height: 75px;
  margin: 10px;
  &:hover{
    background: lighten($apricot, 10%)
  }
}
.description p {
  color: darken($greysilver, 5%);
}

.description p i {
  font-weight: 400;
} 

.flex-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  float: center;
  text-align: center;
  position: relative;
}

//Landing page:

.landing-container{
  min-width: 800px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  justify-content: left;
  align-items: left;
  text-decoration: none;
  background-color: $iceBlue;
  #landing-content{
    width: 90%;
    margin: 0 auto;
    margin: 10px 20px;
    background-color: $iceBlue;
    font: $openSans;
    text-align: center;
    h2{
      margin-top: 0;
      color: lighten($cerulean, 10%);
      padding: 10px;
      text-align: center;
    }
    h4{
      color: lighten($cerulean, 10%);
      text-transform: uppercase;
      text-align: center;
    }
    p{
      color: lighten($cerulean, 10%);
      text-align: center;

    }
  }
}

.inline-link {
  text-decoration: none;
  font-weight: 600;
  color: lighten($cerulean, 10%);
}

.landing-link:hover {
  background: lighten($apricot, 10%);
}

.landing-link a {
  font-family: inherit;
  text-decoration: none;
}

.landing-link {
  font-size: 18px;
  text-decoration: none;
  padding: 15px;
  color: $iceBlue;
  border: 3px white;
  height: 28px;
  margin: 10px 20px;
  background: lighten($cerulean, 10%);
  border-radius: 3px;
  box-shadow: 5px 10px 18px darken($greysilver, 5%);
}

@keyframes colorLink {
  0% { background-color: lighten($apricot, 10%); }
  50% { background-color: lighten($apricot, 10%); }
	100% { background-color: lighten($apricot, 10%); }
}

@keyframes colorNav {
  0% { background-color: lighten($apricot, 10%); }
  50% { background-color: lighten($apricot, 10%);}
	100% { background-color: lighten($apricot, 10%);}
}

.landing-link-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  a{
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: $oraFont;
  }
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}