
$seaFoam: #BDE1D8;
$greyQueen: #E9EDEF;
$mountainShadowBlue: #101357;
$whiteish: #F7FAFB;
$blueberry: #6B7A8F;
$apricot: #F7882F;
$citrus: #F7C331;
$applecore: #DCC7AA;
$barelygreen: #acb7ae;
$tanblonde: #e4decd;
$greysilver: #bccbde;

$morningSky: #CAE4DB;
$honey: #DCAE1D;
$cerulean: #00303F;
$mist: #7A9D96;


$almostBlack: #1D1E26;
$skyBlue: #659DBF;
$grey: #7B95A6;
$iceBlue: #D5E7F2;
$goldish: #A6882D;
$white: #FFF;
$farHorizon: #ECF1EF;

$cascade: #95A5A6;

$fontBigCaslonn: 'Big Caslonn';
$codeSmithFont: 'Times New Roman';
$openSans: 'Open Sans';
$oraFont: 'Avenir'